.block {
  display: flex;
  color: white;
  height: 175px;
  border: solid 1px grey;
  padding: 20px;
}

.block-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.block-item-container {
  position: relative;
}
.talk-bubble-container {
  position: absolute;
  right: -120px;
  top: 0;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}
.block-item-container:hover .talk-bubble-container {
  opacity: 1;
}
/***************START TRADE ICONS*************************/
.best-block-icon {
  overflow: hidden;
  vertical-align: middle;
  width: 145px;
  /* height: 66px; */
  fill: #0e9edc;
}
.last-block-icon {
  fill: rgb(208, 62, 63);
  overflow: hidden;
  vertical-align: middle;
  width: 145px;
}
.avg-block-icon {
  fill: rgb(110, 183, 51);
}
.fa-tv,
.fa-lightbulb,
.fa-history {
  text-align: center;
  color: #e5f326;
  background-image: linear-gradient(12deg, #f3ed26, #eede06);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
  font-size: 21px;
  margin-right: 5px;
}

/*************END TRADE ICONS******************/
.last-block-number {
  color: rgb(208, 62, 63);
  font-size: 55px;
  margin-top: -25px;
}
.best-block-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.best-block-number {
  color: #0e9edc;
  font-size: 55px;
  margin-top: -25px;
}

.avg-block-number {
  color: rgb(110, 183, 51);
  font-size: 55px;
  margin-top: -25px;
}
/*************START TRADE DECRIPTION***************************/
.trade-description-container {
  border: solid 1px grey;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}
.trade-description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.trade-description-result {
  color: #5f9726;
}
/************BLOCKCHAIN CONTAINER*******************/
.blocks-container {
  border: solid 1px grey;
  height: 350px;
  overflow: auto;
  box-sizing: border-box;
  padding: 30px;
  margin-top: 25px;
  display: flex;
  width: 100%;
}

.block-item-container {
  border: solid 1px grey;
  color: white;
  width: 220px !important;
  height: 270px;
  border-radius: 7px;
  margin-right: 30px;
  position: relative;
}
.block-item-number {
  border: solid 1px grey;
  padding: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #1c2230;
  color: #fff;
}
.blocks-relation {
  height: 10px;
  width: 27px;
  border-bottom: solid 4px rgba(129, 129, 129, 0.3);
  position: absolute;
  top: 50%;
  left: 220px;
}

.block-item-info div {
  width: 100%;
  padding: 0px 10px;
  height: 57px;
}
.block-item-info p:nth-child(2) {
  word-wrap: break-word;
  font-size: 11px;
  margin-top: -15px;
}
.block-item-info p:nth-child(1) {
  color: #a5a5a5;
  font-weight: bold;
}
/**********************START MEDIA QUERIES****************************/
@media screen and (max-width: 500px) {
  .best-block-number,
  .last-block-number,
  .avg-block-number {
    font-size: 33px;
    margin-top: -16px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1100px) {
  .best-block-number,
  .last-block-number,
  .avg-block-number {
    font-size: 33px;
    margin-top: -16px;
  }
}
@media screen and (max-width: 1099px) and (min-width: 767px) {
  .best-block-number,
  .last-block-number,
  .avg-block-number {
    font-size: 25px;
    margin-top: -16px;
  }
}
/********************START CUSTOM SCROLL BAR*************************/

/* Scrollbar styles */
.blocks-container::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.blocks-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgb(240, 237, 49);
  border-radius: 10px;
}

.blocks-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(238, 220, 55);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/****************ANIMISTAA************************/
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-5-27 13:31:26
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@media screen and (max-width: 996px) and (min-width: 767px) {
  .third-block {
    display: flex;
    justify-content: center;
  }
  .third-block .block-container {
    flex-direction: column;
    justify-content: flex-end;
    margin-left: -38px;
    margin-top: -28px;
  }
}

a {
  text-decoration: none !important;
}

/*********Bubble message**********/
#talkbubble {
  width: 120px;
  height: 40px;
  background: rgb(14, 14, 14);
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-left: 15px;
  padding: 7px;
  color: gold;
  font-size: 11px;
  z-index: 14444;
}
#talkbubble:before {
  content: "";
  position: absolute;
  right: 94%;
  top: 15%;
  z-index: 14444;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 20px solid rgb(14, 14, 14);
  border-bottom: 13px solid transparent;
}

.fa-search {
  color: gold;
  cursor: pointer;
}
.filter-blocks {
  position: absolute;
  top: 27px;
  display: flex;
  left: 18px;
  width: 200px;

  justify-content: flex-start;
}
.filter-blocks input {
  height: 20px !important;
  color: gold !important;
}
